<div ng-controller=MainCtrl ng-init=init()>
  <section ng-show=flash ng-click=close()>
    <p class=error>
      {{ flash }}
    </p>
  </section>

  <section ng-hide=loadingIndicator>
    <form class="pure-form pure-form-stacked">
      <fieldset>
        <label for=url>Link:</label>
        <input ng-model=url class=pure-input-1 id=url type=url placeholder="Füge hier den Link zu einem Video oder einer Playlist ein..." required>
        <label for=format>Ausgabeformat:</label>
        <select ng-model=format ng-options="format for format in formats" ng-init=format="mp3" class=pure-input-1 id=format required></select>
      </fieldset>
    </form>

    <hr>
    <div class=menu>
      <button ng-click=get(format,url) class="pure-button pure-button-success" title="Startet den Download- und Konvertierungsprozess">Start!</button>
      <button ng-show="links.length > 0" ng-click=clean() class="pure-button pure-button-warning" title="Löscht die bereits verarbeiteten Videos vom Server. Bitte erst benutzen, wenn du deine Dateien von 'sonnenkarma.de' herunter geladen hast! ;)">Aufräumen</button>
    </div>
  </section>

  <section ng-show=loadingIndicator>
    <p>
      <img src=images/loader.gif>
      <small>
        <em>HINWEIS:</em>
        "Cinnamon" ist das englische Wort für "Zimt", was aber, ebenso wie "WebSockets", rein
        garnichts mit Socken zu tun hat! Eigentlich hab ich diesen Namen nur gewählt, weil ich
        Fan der Serie "Kobra, übernehmen sie!" und deren weiblicher Hauptrolle "Cinnamon Carter",
        gespielt von Barbara Bain, bin... Außerdem werden Videos, die du schon verarbeitet aber
        noch nicht "aufgeräumt" hast, unter diesem Text in einer Liste angezeigt, damit du diese
        schonmal herunterladen kannst!
      </small>
    </p>
  </section>

  <hr>
  <table ng-show="links.length > 0" class="pure-u-1 pure-table pure-table-horizontal">
    <thead class=pure-u-1>
      <tr>
        <th>Fertig heruntergeladene und konvertierte Dateien:</th>
      </tr>
    </thead>
    <tbody ng-repeat="link in links" class=pure-u-1>
      <tr>
        <td><a href="{{ link[1] }}">{{ link[0] }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
