@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,600,400italic,300,200italic,200,600italic,700,700italic,900,900italic);

* {
  box-sizing: border-box;
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: "Source Sans Pro";
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

body {
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  color: #ff9900;
  background-color: #996633;
}

article {
  flex: 1; /* Take up to the remaining space. */
}

footer {
  color: #ffffcc;
  background-color: #006699;
  display: flex;
  justify-content: center;
}

header, article, footer {
  margin: 7px;
  padding: 0.2em;
  border-radius: 4px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu button {
  min-width: 140px;
  max-width: 240px;
  margin: 1px;
}

.error {
  color: #ffffcc;
  background: rgb(202, 60, 60); /* this is a maroon */
  padding: 0.2em;
  border-radius: 4px;
}
